body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

#bodyLogin {
  background-color: #395989;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

#container {
  width: 761px;
  height: 500px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  background: #395989;
}

#container img {
  height: 99px;
  margin-top: 10px;
}


input.submit {
  color: #fff;
  background-color: #395989;
  padding: 5px 20px;
  height: 45px;
  width: 50%;
  border-radius: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  border: none;
}

.title {
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


#checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#checkbox>input {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 18px;
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #395989;
  font-size: 24px;
}

.header ul {
  color: white;
  margin: 0;
  display: flex;
  gap: 50px;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

.header img {
  width: 90px;
  border-radius: 50px;
  margin: 10px;
}

.titleLogo {
  display: flex;
  flex-direction: column;
  color: white;
}

.titleUnifei,
.topTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTEUDO */
.dados {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  width: auto;
  font-size: 24px;
  padding: 20px 15px;
  margin: 0px 100px;
  border-radius: 15px;
  align-items: center;
}


/* FOOTER */
footer {
  background-color: #395989;
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
  position: static;
  width: 100%;
  bottom: 0;
}

.footer-copyright {
  background-color: #395989;
  ;
  color: #ffffff;
  padding: 15px;
  text-transform: capitalize;
}

.footer-copyright p {
  margin: 0px;
}

.container {
  max-width: 90%;
  margin: auto;
  margin-top: 3rem;
  overflow-x: auto;
}

table {
  font-family: "Open Sans", sans-serif;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  white-space: nowrap;
}

table * {
  border: none;
}

table thead tr {
  color: #2d3748;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

table thead tr th {
  background: #edf2f7;
  padding: 0.75rem 1.5rem;
  vertical-align: middle;
}

table tbody tr:nth-child(odd) td {
  background: #ffffff;
}

table tbody tr:nth-child(even) td {
  background: #edf2f7;
}

table tbody td {
  color: #1a202c;
  text-align: left;
  padding: 15px;
  vertical-align: middle;
  font-size: 1.125rem;
  font-weight: normal;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

table th:first-child {
  border-top-left-radius: 0.5rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

table th:last-child {
  border-top-right-radius: 0.5rem;
}

table tr>th:first-child,
table tr>td:first-child {
  position: sticky;
  left: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 30px 0 30px 0;
  text-align: center;
}

.accordion-body {
  padding: 10px 0 !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #f4f7f8 !important;
  font-weight: 600 !important;
  border: 1px solid gray !important;
}

.accordion-button:focus {}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 15px 10px 15px 10px;
  color: #FFF;
  background-color: #395989;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #395989;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #395989;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 1000px;
  }

}

fieldset,
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04AA6D;
}

.inputWrapper {
  display: flex;

}

.inputWrapper label {
  padding: 10px;
}

.check {
  display: flex;
  align-items: center;
  /* padding: 50px; */
}

/* space between buttons */
.check button:not(:last-child) {
  margin-right: 30px;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* approve button */
#approve {
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50px;
}

/* refuse button */
#refuse {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50px;
}

.fieldset {
  /* side by side checkbox */
  display: flex;
  align-items: center;
  padding: 50px;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #395989;
  color: white;
  text-align: center;
}