<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estágio obrigatório</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
  <header class="header">
    <div class="titleUnifei">
      <div>
        <img src="../static/img/logo-unifei-oficial.png">
      </div>
      <div class="titleLogo">
        <span>UNIFEI</span>
        <span>Universidade Federal de Itajubá</span>
      </div>
    </div>
    <ul class="menu">
      <li><a>Aluno</a></li>
      <li><a href="orientador.html">Orientador</a></li>
      <li><a href="coordenador.html">Coordenador</a></li>
    </ul>
  </header>

  <div class="topTitle">
    <h1>Cadastrar solicitação de estágio obrigatório</h1>
  </div>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>

    <form action="index.html" method="post">

      <div class="tab">
        <legend><span class="number">1</span>Dados do aluno estágiário</legend>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="user_name">

        <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email">

        <label for="cpf">CPF:</label>
        <input oninput="mascara(this)" type="text" id="cpf" name="user_cpf">

        <label for="rg">RG:</label>
        <input type="text" id="rg" name="user_rg">

        <label for="instituition">Instituição:</label>
        <input type="text" id="instituition" name="user_instituition">

        <label for="tuition">Matrícula:</label>
        <input type="text" id="tuition" name="user_tuition">

        <label for="course">Curso:</label>
        <input type="text" id="course" name="user_course">

        <label for="period">Semestre/Ano:</label>
        <input type="text" id="period" name="user_period">

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="user_address">
      </div>

      <div class="tab">Contact Info:
        <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
        <p><input placeholder="Phone..." oninput="this.className = ''"></p>
      </div>

      <div style="overflow:auto;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>


      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <!-- <span class="step"></span>
        <span class="step"></span> -->
      </div>
      <!-- 
      <fieldset>
        <legend><span class="number">2</span>Your profile</legend>
        <label for="bio">Biography:</label>
        <textarea id="bio" name="user_bio"></textarea>
      </fieldset>
      <fieldset>
        <label for="job">Job Role:</label>
        <select id="job" name="user_job">
          <optgroup label="Web">
            <option value="frontend_developer">Front-End Developer</option>
            <option value="php_developor">PHP Developer</option>
            <option value="python_developer">Python Developer</option>
            <option value="rails_developer"> Rails Developer</option>
            <option value="web_designer">Web Designer</option>
            <option value="WordPress_developer">WordPress Developer</option>
          </optgroup>
          <optgroup label="Mobile">
            <option value="Android_developer">Androild Developer</option>
            <option value="iOS_developer">iOS Developer</option>
            <option value="mobile_designer">Mobile Designer</option>
          </optgroup>
          <optgroup label="Business">
            <option value="business_owner">Business Owner</option>
            <option value="freelancer">Freelancer</option>
          </optgroup>
          <optgroup label="Other">
            <option value="secretary">Secretary</option>
            <option value="maintenance">Maintenance</option>
          </optgroup>
        </select>

        <label>Interests:</label>
        <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light"
          for="development">Development</label><br>
        <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light"
          for="design">Design</label><br>
        <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light"
          for="business">Business</label>

      </fieldset>
      <button type="submit">Sign Up</button> -->
    </form>

  </body>

</html>

<footer>
  <div class="footer-copyright">
    <p>© 2022 UNIFEI. Todos os direitos reservados. </p>
  </div>
</footer>

<script src="../static/script/scripts.js"></script>
</body>


</html>