<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estágio obrigatório</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
  <header class="header">
    <div class="titleUnifei">
      <div>
        <img src="../static/img/logo-unifei-oficial.png">
      </div>
      <div class="titleLogo">
        <span>UNIFEI</span>
        <span>Universidade Federal de Itajubá</span>
      </div>
    </div>
    <ul class="menu">
      <li><a>Aluno</a></li>
      <li><a href="orientador.html">Orientador</a></li>
      <li><a href="coordenador.html">Coordenador</a></li>
    </ul>
  </header>

  <div class="topTitle">
    <h1>Cadastrar solicitação de estágio obrigatório</h1>
  </div>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>

    <form id="cadastroForm" action="index.html" method="post">

      <div class="tab">
        <b><legend><span class="number">1</span>Dados do aluno estágiário</legend></b>
        
        <div>
          <label for="name">Nome: </label>
          <input type="text" id="name" name="user_name">
        </div>
        <div>
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email">  
        </div>
        <div>
          <label for="cpf">CPF:</label>
          <input oninput="mascara(this)" type="text" id="cpf" name="user_cpf">
        </div>
        <div>
          <label for="rg">RG:</label>
          <input type="text" id="rg" name="user_rg">  
        </div>
        <div>
          <label for="instituition">Instituição:</label>
          <input type="text" id="instituition" name="user_instituition">
        </div>
        <div>
          <label for="tuition">Matrícula:</label>
          <input type="text" id="tuition" name="user_tuition">  
        </div>  
        <div>
          <label for="course">Curso:</label>
          <input type="text" id="course" name="user_course">  
        </div>
        <div>
          <label for="period">Semestre/Ano:</label>
          <input type="text" id="period" name="user_period">  
        </div>
        <div>
          <label for="address">Endereço:</label>
          <input type="text" id="address" name="user_address">  
        </div>
      </div>

      <div class="tab">
        <b><legend><span class="number">2</span>Dados da empresa</legend></b>
        <label for="corporate_name">Razão Social:</label>
        <input type="text" id="corporate_name" name="corporate_name">

        <div>
          <label for="address">Endereço:</label>
          <input type="text" id="address" name="corporate_address">  
        </div>
        
        <div>
          <label for="ativities">Ramo de Atividades:</label>
          <input type="text" id="ativities" name="corporate_ativities">  
        </div>
        
        <label for="corporate_type">Tipo de empresa:</label>

        <div class="inputWrapper">
          <label for="private">Privada</label><br>
          <input type="radio" id="private" name="corporate_type" value="Private">
        </div>
        <div class="inputWrapper">
          <label for="public">Pública</label><br>
          <input type="radio" id="public" name="corporate_type" value="Public">
        </div>
      </div>

      <div class="tab">
        <b><legend><span class="number">3</span>Dados do Estágio</legend></b>
        
        <div><p-calendar> 
          <label for="initial_date"> Data Inicial: </label>
          <input type="date" id="initial_date" name="initial_date">  
        </p-calendar></div>
        
        <div><p-calendar> 
          <label for="final_date"> Data prevista para o término: </label>
          <input type="date" id="final_date" name="final_date">  
        </p-calendar></div>
        
        <div>
          <label for="local_estag">Local do Estágio: </label>
          <input type="text" id="local_estag" name="local_estag">  
        </div>
        <div>
          <fieldset>
            <legend>Dias de trabalho semanal</legend>
            <input type="radio" name="action" id="seg" value="seg"/><label for="seg">Segunda-feira</label><br/>
            <input type="radio" name="action" id="ter" value="ter"/><label for="ter">Terça-feira</label><br/>
            <input type="radio" name="action" id="qua" value="qua"/><label for="qua">Quarta-feira</label><br/>
            <input type="radio" name="action" id="qui" value="qui"/><label for="qui">Quinta-feira</label><br/>
            <input type="radio" name="action" id="sex" value="sex"/><label for="sex">Sexta-feira</label><br/>
            <input type="radio" name="action" id="sab" value="sab"/><label for="sab">Sábado</label><br/>
            <input type="radio" name="action" id="dom" value="dom"/><label for="dog">Domingo</label><br/>
          </fieldset>        
        </div><br>
        
        <div><p-calendar> 
          <label for="initial_time"> Horário de inicio: </label>
          <input type="time" id="initial_time" name="initial_time">  
        </p-calendar></div>
        
        <div><p-calendar> 
          <label for="final_time"> Horário de término: </label>
          <input type="time" id="final_time" name="final_time">  
        </p-calendar></div>
        
        <span>Remuneração do estágio: </span>
        <br></br>

        <div>
          <label for="bolsa_type">Tipo de bolsa: </label>
          <input type="text" id="bolsa_type" name="bolsa_type">  
        </div>
        <div>
          <label for="bolsa_value">Valor da bolsa: </label>
          <input type="bolsa_value" id="bolsa_value" name="bolsa_value">  
        </div>
        
        <br></br>
        <span>Orientador do estágio na empresa: </span>
        <br></br>

        <div>
          <label for="orien_name_corporate">Nome: </label>
          <input type="text" id="orien_name_corporate" name="orien_name_corporate">  
        </div>
        
        <div>
          <label for="formation">Formação: </label>
          <input type="text" id=" formation" name="formation">  
        </div>

        <div>
          <label for="occupation">Cargo: </label>
          <input type="text" id="occupation" name="occupation">  
        </div>

        <div>
          <label for="email_corporate">Email: </label>
          <input type="text" id="email_corporate" name="email_corporate">  
        </div>

        <div>
          <label for="tel_corporate">Telefone: </label>
          <input type="text" id="tel_corporate" name="tel_corporate">  
        </div>
      </div>


      <div style="overflow:auto;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
      </div>


      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <!-- <span class="step"></span>
        <span class="step"></span> -->
      </div>
    </form>

  </body>

</html>

<footer>
  <div class="footer-copyright">
    <p>© 2022 UNIFEI. Todos os direitos reservados. </p>
  </div>
</footer>

<script src="../static/script/scripts.js"></script>
</body>


</html>
