<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estágio obrigatório</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style2.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <header class="header">
    <div class="titleUnifei">
      <div>
        <img src="../static/img/logo-unifei-oficial.png">
      </div>
      <div class="titleLogo">
        <span>UNIFEI</span>
        <span>Universidade Federal de Itajubá</span>
      </div>
    </div>
  </header>

  <div class="topTitle">
    <h1>Cadastrar solicitação de estágio obrigatório</h1>
  </div>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>

    <form id="cadastroForm" action="aluno.html" method="post">

      <b>
        <legend><span class="number">1</span>Dados do aluno estagiário</legend>
      </b>
      <label>Nome:</label><br>
      <input type="text" name="nome"><br>
      <label>CPF:</label><br>
      <input type="text" name="cpf"><br>
      <label>RG:</label><br>
      <input type="text" name="rg"><br>
      <label>Matrícula:</label><br>
      <input type="text" name="matricula"><br>
      <label>Campus:</label><br>
      <input type="text" name="campus"><br>
      <label>Telefone:</label><br>
      <input type="text" name="telefone"><br>
      <label>Email:</label><br>
      <input type="text" name="email"><br>
      <label>ID do Professor:</label><br>
      <input type="number" name="professorId"><br>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </body>

</html>

<footer>
  <div class="footer-copyright">
    <p>© 2022 UNIFEI. Todos os direitos reservados. </p>
  </div>
</footer>

<script src="../static/script/scripts.js"></script>

</body>


</html>