<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estágio obrigatório</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <header class="header">
    <div class="titleUnifei">
      <div>
        <img src="../static/img/logo-unifei-oficial.png">
      </div>
      <div class="titleLogo">
        <span>UNIFEI</span>
        <span>Universidade Federal de Itajubá</span>
      </div>
    </div>
  </header>

  <div class="topTitle">
    <h1>Estágio obrigatório</h1>
  </div>

  <!-- <div class="components">
    <ul class="dados">
      <li>Dados pessoais</li>
      <li>Alunos orientados</li>
      <li>Professores</li>
    </ul> -->
  <div class="container">
    <div>
      <label for="name">Nome do Aluno: </label>
      <input type="text" id="name" name="user_name">
      <label for="name">Nome do Professor: </label>
      <input type="text" id="name" name="user_name">

      <button type="button" id="filtro" onclick=filtrar> Filtrar</button>
    </div>

  </div>


  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>Matrícula</th>
          <th>Curso</th>
          <th>Instituição</th>
          <th>Semestre/Ano</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>RG</th>
          <th>Endereço</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>João da Silva</td>
          <td>2019000000</td>
          <td>Engenharia de Software</td>
          <td>6º</td>
          <td>(35) 99999-9999</td>
          <td>Other</td>
          <td>Other</td>
          <td>Other</td>
          <td>Other</td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>

  </div>

  <footer>
    <div class="footer-copyright">
      <p>© 2022 UNIFEI. Todos os direitos reservados. </p>
    </div>
  </footer>
</body>

</html>