<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estágio obrigatório</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body id="bodyLogin">

  <div id="container">
    <img src="../static/img/logo-unifei-oficial.png">

    <form action="/aluno.html">
      <div>
        <h1 class="title">Login</h1>
      </div>
      <div id="checkbox">
        <span>Selecione:</span>
        <input type="checkbox" required><label for="aluno">Aluno</label>
        <!-- <input type="checkbox"><label for="orientador">Orientador</label>
        <input type="checkbox"><label for="coordenador">Coordenador</label> -->
      </div>

      <div>
        <input class="matricula" type="text" name="matricula" id="matricula" placeholder="Digite sua matrícula"
          required>
      </div>

      <div>
        <input class="senha" type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
      </div>

      <div>
        <input class="submit" type="submit" value="Entrar" id="buscar">
      </div>
    </form>
  </div>

</body>

</html>