<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estágio obrigatório</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="titleUnifei">
            <div>
                <img src="../static/img/logo-unifei-oficial.png"> 
            </div>
            <div class="titleLogo">
                <span >UNIFEI</span>
                <span>Universidade Federal de Itajubá</span>
            </div>
        </div>
        <ul class="menu">
            <li><a href="aluno.html">Aluno</a></li>
            <li><a>Orientador</a></li>
            <li><a href="coordenador.html">Coordenador</a></li>
        </ul>
    </header>

    <div class="topTitle">
        <h1>Estágio obrigatório</h1>
    </div>

    <div class="components">
        <ul class="dados">
            <li>Dados pessoais</li>
            <li>Alunos solicitantes</li>
            <li>Alunos orientados</li>
        </ul>
    </div>

    <footer>
        <div class="footer-copyright">
            <p>© 2022 UNIFEI. Todos os direitos reservados. </p>
        </div>
    </footer>
</body>
</html>